body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
display: flex;
background-color: rgba(92, 95, 83, 0.8);
height: 4.5em;
}

.logo {
  flex: 20%;

}
h1 {
  text-align: center;
  color: #AFCAE8;
  text-decoration: none;
  margin-top: 0.4em;
}

.nav {
  flex: 60%;
  text-align: center;
  margin: 1.2em;

}
nav a {
    text-decoration: none;
    font-size: 1.5em;
    color: #AFCAE8;
    font-weight: bold;
    padding: 2em;
}

nav a:hover {
    color: black;
  }

.icon{
  flex: 5%;
  padding-top: 0.7em;
}

.icon img {
  height: 3em;
}

.icon2{
  flex: 5%;
  padding-top: 0.7em;
}

.icon2 img {
  height: 3em;
}
